<div>
  {{#if showEdit}}
    <div>
      {{input type="text" value=item.name change=(action 'saveBoard' item ) }}
      <button {{ action "saveBoard" item }}>
        Edit name
      </button>
    </div>
  {{else}}
    <div {{action "editBoard" }}>{{item.name}}( {{item.count}} )</div>
  {{/if}}
</div>