{{outlet}}

<!--taksName: DS.attr('string'),-->
<!--taksType: DS.attr('number'),-->
<!--title: DS.attr('string'),-->
<!--introText: DS.attr('string'),-->
<!--fullText: DS.attr('string'),-->
<!--board: DS.belongsTo('board')-->


<form class="uk-form uk-width-medium-1-3" method="post" {{ action "submition" on="submit"}}>
  <fieldset>
    <legend>Add new board</legend>
    <div class="uk-form-row">
      {{input type="text" name="taskName" placeholder="taskName" value=model.task.taskName}}
      {{input type="text" name="taskType"  placeholder="taskType" value=model.task.taskType}}
      {{input type="text" name="title"  placeholder="title" value=model.task.title}}
      {{input type="text" name="introText"  placeholder="introText" value=model.task.introText}}
      {{input type="text" name="fullText"  placeholder="fullText" value=model.task.fullText}}
      <select {{ action "selectBoard" value="target.value" }} id="tag-type-select" >
        {{#each model.board as |board| }}
          <option name="board" selected={{eq id model.board}} value="{{board.id}}">
            {{board.name}}
          </option>
        {{/each}}
      </select>
      {{input class="uk-button" type="submit" value="Add"}}
    </div>
  </fieldset>
</form>